body {
  font-family: 'sans-serif';
}

.spinner {
  animation: spinner infinite 20s linear;
  height: 80px;
}


@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
